.diva{
    padding-left: 10px;
    padding-top: 15px;
}
.image{
    display: inline-block;
 font-size: 30px;
 padding-right: 70px;
    
}

ul{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
}

.new{
    padding-right: 60px;
    padding-left: 50px;
    
}

.p{
    padding: 15px 20px ;
}
.p2{
    padding-left: 30px;
}


.diva2{
    display: flex;
}
.diva3{
    display: flex;
}

.p3{
    padding : 15px ;
}
.diva4{
    display: flex;
}
.diva5{
    display: flex;
}
.p4{
    padding:15px ;
}
.diva6{
    display: flex;
}
.diva7{
    display: flex;
}

.img{
    padding-right: 30px;
    padding-left: 15px;
}

.diva8{
    display: flex;
}
.nino{
    display: inline-block;
padding-inline-start:  10px;
    padding-top: 20px;
    
}

.li1{
    padding-right: 30px;
padding-left: 15px;
}

.li2{
    padding-right: 30px;
    padding-left: 15px;
}
.pp{
    padding: 105px;
    padding-left: 40px;
}
.diva9{
    display: flex;
}
.ppp{
padding-right: 14px;
padding-left: 700px;
}


.diva11{
    display: flex;
}


   


.diva12{
    display: flex;
}
.pg{
    display: contents;

}
.gp{
    padding-right: 14px;
    padding-left: 700px;
    margin-right:  200px;
}


/*     

მეორე გვერძე ვაარ გადმოსული ბოლო ლოგოების დამატება
ღილაკები არ გადადის
alt ების დამატება სურატებზე 
გადახედე დავალებას დაა გააკეთე ზუსტად თუ არა მიახლოებული 
 */

